version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: atlas-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: atlas
      POSTGRES_PASSWORD: atlas123
      POSTGRES_DB: atlas